<html>

<head>
    <title>KartE</title>
    <link rel="icon" type="image/png" href="icons/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/home.css">

    <script src="https://kit.fontawesome.com/b64b63a538.js" crossorigin="anonymous"></script>
</head>

<body>

    <%- include('navbar')%>

        <div class="row2">
            <div class="hometext">
                <div id="tag">
                    <h1><b>Get the Best<br> Products</b></h1>
                </div>
                <div id="start"><a href="/details">GET STARTED</a></div>
            </div>



            <div class="homeimage">
                <div class="image1" id="image1"><a href="/details">
                        <img src="/static/images/frame-28.png" alt="" height="100%" width="100%">
                    </a>
                </div>
                <div class="image1" id="image1txt">
                    <h1>Every Stage is<br> covered by US</h1>
                    <h2>
                        <ul>
                            <li>Purchase</li>
                            <li>Warranty</li>
                            <li>Service</li>
                            <li>Disposal</li>
                        </ul>
                    </h2>
                </div>
            </div>
        </div>
        <!--<div id="image2">
    <img src="images/image2.png"
    alt=""
    height="500px"
    width="300px" >
</div>-->
</body>

</html>