<html>

<head>
    <title>KartE</title>
    <link rel="icon" type="image/png" href="icons/logo.png">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script src="https://kit.fontawesome.com/b64b63a538.js" crossorigin="anonymous"></script>
</head>


<body>
    <div id="navbar">
        <div class="main">
            <div id="logo">
                <img src="icons/logo.png" alt="" height="25">
            </div>

            <div id="mainLogo">
                <h1>KartE</h1>
            </div>
        </div>

        <div id="search">

            <form action="/search" method="GET">

                <input type="text" name="product" placeholder="search your product">
                <button> <i class="fa-solid fa-magnifying-glass" alt="" height="30"></i> </button>

            </form>
        </div>

        <div class="rightDiv">

            <div class="right" id="home">
                <a href="/">
                    <h3>Home</h3>
                </a>
            </div>

            <div class="right" id="loginbutton">
                <a href="/login">
                    <h3>Log in</h3>
                </a> 
            </div>

            <div class="right" id="SignupButton">
                <a href="/signup">
                    <h3>Sign up</h3>
                </a>
            </div>
            
            <div class="right" id="ordersicon">
                <a href="/my_orders"><i class="fa-solid fa-cart-shopping fa-2x" style="color: rgb(44,44,110)" alt=""
                        width="130"></i>
                </a>
           
            </div>
        </div>
    </div>
</body>

</html>