<div id="navbar">
    <div id="mainLogo">PRAGTHI</div>
    <div id="search">

        <form action="/search" method="GET">

            <input type="text" name="product" placeholder="search your product">
            <button> <img src="icons/search.png" alt=""> </button>

        </form>


    </div>
    <div class = "rightDiv">
        <a href="/my_orders">ORDERS</a>
        <div id="loginButton">LOGIN</div>
    </div>
</div>